
    <section>
        <div class="continer mt-5 ms-5">
            <div class="row">
                {{#each posts}}
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="{{this.image}}" class="card-img-top" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">{{this.discription}}</p>
                                <a href="#" class="btn btn-primary">Add to Cart</a>
                                
                            </div>
                        </div>
                    </div>
                {{/each }}
            </div>
        </div>
    </section>

    